<!DOCTYPE html>
<html>
<body>

<input id="usn" placeholder="USN"><br><br>
<input id="code" placeholder="Subject Code"><br><br>
<input id="subname" placeholder="Subject Name"><br> <br>
<input id="cie" placeholder="CIE Marks"><br> <br>
<input id="see" placeholder="SEE Marks"><br> <br>

<button onclick="go()">Display</button>
<p id="out"></p>

<script>
const Student = (cie, see) => {
  cie = +cie; see = +see;
  return { total: () => cie + see };
};

const go = () => {
  const s = Student(cie.value, see.value);
  out.innerHTML =
    `USN: ${usn.value}<br>
     Subject Code: ${code.value}<br>
     Subject Name: ${subname.value}<br>
     Total Marks: ${s.total()}`;
};
</script>

</body>
</html>